---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Junta Directiva">
  <section class="lg:px-16 px-6 grid grid-rows-[auto] gap-4">
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Presidenta</p>
      <p>Elisabet Gómez Díaz</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vicepresident</p>
      <p>Antonio González Álvarez</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Secretària</p>
      <p>Silvia Clavijo Prieto</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vicesecretari</p>
      <p>Luis Guerrero Rivero</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Tesorer</p>
      <p>Miguel Ángel Sánchez Bermudo</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vocal de Joventut</p>
      <p>Claudia Prieto Clavijo</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vocal de Cult</p>
      <p>Juan Guerrero Ramos</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vocals</p>
      <p>Sara Sánchez Bermudo</p>
      <p>Alberto Sánchez López</p>
    </div>
    <div class="flex flex-col gap-8 mt-8">
      <p class="text-left w-full">
        La Junta Directiva de la Hermandad Rociera Pastora Almonteña de
        L'Hospitalet de Llobregat està composta per un grup de persones
        compromeses amb la missió i els valors de la hermandad. La seva funció
        principal és dirigir i gestionar les activitats i esdeveniments de la
        hermandad, així com representar als seus membres en diferents àmbits.
      </p>
      <p class="text-left w-full">
        La Junta Directiva treballa en estreta col·laboració amb els membres de
        la hermandad per assegurar que es compleixin els objectius i es promogui
        el benestar de tots els integrants. A més, s'encarrega d'organitzar
        esdeveniments religiosos, culturals i socials que enforteixen els llaços
        entre els membres i fomenten la participació activa en la comunitat.
      </p>
      <p>
        La Junta Directiva actual governarà des de l'any 2025 fins a l'any 2027.
      </p>
    </div>
  </section>
  <Footer />
</Layout>
