---
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import cartel from "@/images/romeriadelrocio/cartel.webp";
import planromero from "@/images/romeriadelrocio/planromero.webp";
---

<Layout title="Romeria del Rocío">
  <section class="flex flex-col gap-8 lg:px-16 px-6">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-8 items-center mb-8">
      <img
        src={cartel.src}
        alt="Cartell de la Romeria del Rocío 2025"
        class="w-[30rem] rounded-md shadow-lg justify-self-end"
      />
      <div class="flex flex-col gap-4 text-center md:text-start">
        <p class="text-red-800 text-xl font-bold">
          52ª Romeria del Rocío en Catalunya 2025
        </p>
        <div>
          <p>📅 5, 6, 7, 8 i 9 de Juny del 2025</p>
          <a
            href="https://www.google.com/maps/dir//41.5852445,2.0279201/@41.585086,2.0286014,406m/data=!3m1!1e3!4m2!4m1!3e0?authuser=0&entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-row gap-2 place-items-center justify-center md:justify-start"
          >
            <p>📍</p>
            <p
              class="hover:text-red-800 transition ease-in-out hover:underline"
            >
              Terrassa
            </p>
          </a>
        </div>
        <p class="text-red-800 text-xl font-bold">Calendari oficial</p>
        <div>
          <p class="text-red-800 font-bold">Dijous 5 de Juny del 2025</p>
          <p>
            <strong class="text-red-800 font-normal"
              >Missa de Trasllat de la Imatge de Ntra. Sra. del Rocío</strong
            > des de la seva Església de Sant Martí de Cerdanyola a les 19.00 hores.
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Dissabte 7 de Juny del 2025</p>
          <p>
            <strong class="text-red-800 font-normal"
              >Recepció i Presentació de les Hermandades amb el seu Simpecado*</strong
            > Es realitzarà a l'Ermita situada a Terrassa el dissabte, dia 7 de Juny,
            començant a les 18 hores per ordre d'antiguitat.
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Diumenge 8 de Juny del 2025</p>
          <p>
            <strong class="text-red-800 font-normal"
              >Missa Pontifical de Pentecostés</strong
            > Se celebrarà el Diumenge de Pentecostès, dia 8 de Juny, a les 10 hores.
          </p>
          <p class="mt-2">
            <strong class="text-red-800 font-normal">Rosari de l'Alba</strong> S'iniciarà
            a les 00 hores de la nit del diumenge, 8 de Juny.
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Dilluns 9 de Juny del 2025</p>
          <p>
            <strong class="text-red-800 font-normal"
              >Processó de la Verge</strong
            >
            S'iniciarà a partir de les 1.30 hores del matí del dilluns, 9 de Juny.
            Realitzarà el seu recorregut oficial visitant al seu pas a totes les
            Hermandades.
          </p>
          <p class="mt-2">
            <strong class="text-red-800 font-normal">Missa de l'Alba</strong>
            Se celebrarà a les 9.30 hores del dilluns, 9 de Juny.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:grid md:grid-cols-2 gap-8 items-center mb-8">
      <img
        src={planromero.src}
        alt="Pla romero de l'Hermandad Rociera Pastora Almonteña para la Romeria del Rocío 2025"
        class="w-[30rem] rounded-md shadow-lg justify-self-end"
      />
      <div class="flex flex-col gap-4 text-center md:text-start">
        <p class="text-red-800 text-xl font-bold">
          Pla romero de l'Hermandad para la Romeria del Rocío 2025
        </p>
        <div>
          <p class="text-red-800 font-bold">Divendres 6 de Juny del 2025</p>
          <p>
            <strong class="text-red-800 font-normal">12:00h</strong> Missa de Sortida
            a la nostra <a
              href="https://www.google.com/maps/dir//Iglesia+de+Santa+Eulalia+de+M%C3%A9rida,+Carrer+de+Barcelona,+104,+08901+L'Hospitalet+de+Llobregat,+Barcelona/@41.3597502,2.0965021,16z/data=!3m1!5s0x12a499224e007945:0xe8322ce29ad43b2d!4m17!1m7!3m6!1s0x12a49922453dfb69:0x27cf334486a86e15!2sIglesia+de+Santa+Eulalia+de+M%C3%A9rida!8m2!3d41.3597462!4d2.099077!16s%2Fg%2F1hb_h5flz!4m8!1m0!1m5!1m1!1s0x12a49922453dfb69:0x27cf334486a86e15!2m2!1d2.099077!2d41.3597462!3e3?entry=ttu&g_ep=EgoyMDI1MTEwNC4xIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Parròquia Santa Eulàlia de Mèrida</a
            >.
          </p>
          <p>
            <strong class="text-red-800 font-normal">13:30h</strong> Sortida del
            Camí fins a <a
              href="https://www.google.com/maps/dir//Plaza+de+la+Carpa,+08906+L'Hospitalet+de+Llobregat,+Barcelona/@41.3664723,2.0974297,16z/data=!4m17!1m7!3m6!1s0x12a499b465110c3f:0x698ab488861df456!2sPlaza+de+la+Carpa!8m2!3d41.3664683!4d2.1000046!16s%2Fg%2F11gzpnfcq7!4m8!1m0!1m5!1m1!1s0x12a499b465110c3f:0x698ab488861df456!2m2!1d2.1000046!2d41.3664683!3e3?entry=ttu&g_ep=EgoyMDI1MTEwNC4xIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Can Serra</a
            >
          </p>
          <p>
            <strong class="text-red-800 font-normal">16:00h</strong> Sortida en autocar
            a <a
              href="https://www.google.com/maps/dir//Mercavall%C3%A8s,+Carretera+Nacional+150,+Km.14,5,+08227+Sabadell,+Barcelona/@41.5537789,2.0589353,1627m/data=!3m1!1e3!4m17!1m7!3m6!1s0x12a49363460bcdad:0x812189b8d398f59e!2sMercavall%C3%A8s!8m2!3d41.5537749!4d2.0615102!16s%2Fg%2F11xk9zd1p!4m8!1m0!1m5!1m1!1s0x12a49363460bcdad:0x812189b8d398f59e!2m2!1d2.0615102!2d41.5537749!3e0?authuser=0&entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Mercavallès</a
            >
          </p>
          <p>
            <strong class="text-red-800 font-normal">18:00h</strong> Sortida del
            Camí fins al <a
              href="https://www.google.com/maps/dir//41.5852445,2.0279201/@41.585086,2.0286014,406m/data=!3m1!1e3!4m2!4m1!3e0?authuser=0&entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Rocío</a
            >
          </p>
          <p>
            <strong class="text-red-800 font-normal">22:00h</strong> Preparació entrada
            al <a
              href="https://www.google.com/maps/dir//41.5852445,2.0279201/@41.585086,2.0286014,406m/data=!3m1!1e3!4m2!4m1!3e0?authuser=0&entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Rocío</a
            >
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Dissabte 7 de Juny del 2025</p>
          <p>
            <strong class="text-red-800 font-normal">12:00h</strong> Àngelus a la
            nostra Casa d'Hermandad
          </p>
          <p>
            <strong class="text-red-800 font-normal">18:00h</strong> Presentació
            davant María Santísima del Rocío
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Diumenge 8 de Juny del 2025</p>
          <p>
            <strong class="text-red-800 font-normal">10:00h</strong> Missa Pontifical
            de Pentecostés
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Dilluns 9 de Juny del 2025</p>
          <p>
            <strong class="text-red-800 font-normal">00:00h</strong> Res del Rosari
            de l'Aurora
          </p>
          <p>
            <strong class="text-red-800 font-normal">01:30h</strong> Processó de
            la Verge del Rocío
          </p>
          <p>
            <strong class="text-red-800 font-normal">09:30h</strong> Missa de l'Alba
          </p>
        </div>
      </div>
    </div>
    <p>
      Al si de la Federació d'Entitats Culturals Andaluses a Catalunya, estan
      inscrites un conjunt d'Hermandats que com a fi de les seves activitats
      tenen bàsicament el culte a la Verge del Rocío.
    </p>
    <p>
      Les Hermandades i Grups Rocieros amb motiu de la celebració del Rocío, i
      amb l'organització de la FECAC, realitzen una Romeria amb la finalitat de
      viure uns dies de convivència units en el culte a la Verge.
    </p>
    <p>
      Al recinte de concentraciío, s'alineen les diferents casetes d'Hermandats
      i Associacions Rocieras construïdes amb elements desmuntables, com grans
      pavellons, distribuïts interiorment en habitacles per a dormitori, cuina,
      menjador i capella on instal·lar un 'simpecado'. Durant aquests dies les
      Hermandats es converteixen en una gran família que com a guia té al seu
      germà major elegit democràticament d'entre els seus germans.
    </p>
    <p>
      Al recinte s'instal·la alumbrat públic ambiental i una acometida elèctrica
      i d'aigua potable a cada una de les casetes. També s'han habilitat dues
      àmplies zones perquè es puguin muntar tendes de campanya totes les
      persones que ho desitgin també amb la seva presa de corrent
    </p>
    <p>
      Es construeix una capella que es destina per allotjar la imatge de la
      Verge del Rocío i és on se celebren tots els actes religiosos. Se celebra
      el Rosari de l'Alba amb assistència, a més dels romeros, de nombrós públic
      devot. En l'organització dels actes, així com en el seu protocol s'intenta
      seguir la tradició o en tot cas l'acordat de mutu acord entre les
      Hermandades. A diferència d'altres actes, en el Rocío es viu un clima
      d'Hermandad i sana convivència entre les Entitats Culturals i les persones
      que la visiten.
    </p>
    <p class="text-left w-full italic text-sm">
      * El simpecado és l'estendard o bandera d'una hermandad rociera, que sol
      portar una imatge de la Verge del Rocío. És un símbol molt important dins
      de l'hermandad, ja que representa la Verge i els rocieros que la
      segueixen. Es porta en la processó durant la romeria del Rocío (o en una
      carreta durant el camí cap a la romeria), sent portat pels germans o
      germanes i en moltes ocasions acompanyat de cants i resos. És considerat
      un símbol de devoció i d'identitat de l'hermandad.
    </p>
  </section>
  <Footer />
</Layout>
