---
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import cartel from "@/images/villancicos/cartel.webp";
---

<Layout
  title="Festival i Zambomba de Nadales"
  description="Festival i Zambomba de Nadales de la Hermandad Rociera Pastora Almonteña, tradició nadalenca de Jerez de la Frontera celebrada en diversos punts de Catalunya."
>
  <section class="flex flex-col gap-8 lg:px-16 px-6">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-8 items-center mb-8">
      <img
        src={cartel.src}
        alt="Cartell del Festival i Zambomba de nadales 2025"
        class="w-96 rounded-md shadow-lg justify-self-end"
      />
      <div class="flex flex-col gap-4 text-center md:text-start">
        <div>
          <p class="text-center md:text-start font-bold text-red-800">
            XIII Festival de Nadales
          </p>
          <p>📅 19 de Desembre del 2025</p>
          <p>🕒 21:00h</p>
          <a
            href="https://www.google.com/maps/dir//Iglesia+de+Santa+Eulalia+de+M%C3%A9rida,+Carrer+de+Barcelona,+104,+08901+L'Hospitalet+de+Llobregat,+Barcelona/@41.3597502,2.0965021,16z/data=!3m1!5s0x12a499224e007945:0xe8322ce29ad43b2d!4m17!1m7!3m6!1s0x12a49922453dfb69:0x27cf334486a86e15!2sIglesia+de+Santa+Eulalia+de+M%C3%A9rida!8m2!3d41.3597462!4d2.099077!16s%2Fg%2F1hb_h5flz!4m8!1m0!1m5!1m1!1s0x12a49922453dfb69:0x27cf334486a86e15!2m2!1d2.099077!2d41.3597462!3e3?entry=ttu&g_ep=EgoyMDI1MTEwNC4xIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-row gap-2 place-items-center justify-center md:justify-start"
          >
            <p>📍</p>
            <p
              class="hover:text-red-800 transition ease-in-out hover:underline"
            >
              Parròquia de Santa Eulàlia de Mèrida
            </p>
          </a>
        </div>
        <p>
          Vine a passar una nit nadalenca amb l'actuació dels següents cors
          rocieros:
        </p>
        <ul class="list-disc list-inside flex flex-col">
          <li>Cor Rociero Nuevos Comienzos</li>
          <li>
            Cor Rociero Hermandad Pastora Almonteña de L'Hospitalet de Llobregat
          </li>
        </ul>
        <div>
          <p class="text-center md:text-start font-bold text-red-800">
            VII Zambomba Solidària
          </p>
          <p>📅 20 de Desembre del 2025</p>
          <p>🕒 18:30h - Xocolatada oferida pel Grup de Festes de Can Serra</p>
          <p>🕒 19:00h - Nadales</p>
          <a
            href="https://www.google.com/maps/dir//Plaza+de+la+Carpa,+08906+L'Hospitalet+de+Llobregat,+Barcelona/@41.3664723,2.0974297,16z/data=!4m17!1m7!3m6!1s0x12a499b465110c3f:0x698ab488861df456!2sPlaza+de+la+Carpa!8m2!3d41.3664683!4d2.1000046!16s%2Fg%2F11gzpnfcq7!4m8!1m0!1m5!1m1!1s0x12a499b465110c3f:0x698ab488861df456!2m2!1d2.1000046!2d41.3664683!3e3?entry=ttu&g_ep=EgoyMDI1MTEwNC4xIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-row gap-2 place-items-center justify-center md:justify-start"
          >
            <p>📍</p>
            <p
              class="hover:text-red-800 transition ease-in-out hover:underline"
            >
              Plaça de la Carpa
            </p>
          </a>
        </div>
        <p>
          Vine a passar una tarda amb un xocolata calent i gaudint de les
          nadales cantades pels següents cors rocieros:
        </p>
        <ul class="list-disc list-inside flex flex-col">
          <li>Cor Rociero Hermandad Los Varales de Santa Coloma de Gramanet</li>
          <li>Cor Rociero Centro Cultural Andaluz de Mollet del Vallès</li>
          <li>
            Cor Rociero Hermandad Pastora Almonteña de L'Hospitalet de Llobregat
          </li>
        </ul>
        <p>
          En ambdós actes l'entrada és <strong>gratuïta</strong> i es <strong
            >recullen aliments</strong
          > no peribles de forma voluntària per donar a persones necessitades.
        </p>
      </div>
    </div>
    <p>
      Una zambomba de nadales és una tradició nadalenca d'origen andalús que
      consisteix a reunir-se per cantar nadales acompanyats d'instruments típics
      com la zambomba, panderetes, guitarres i altres. És una forma alegre i
      festiva de celebrar el Nadal, fomentant la convivència i l'esperit
      comunitari entre els participants.
    </p>
    <p>
      L'acte consisteix en què els cors rocieros participants es col·loquen en
      rotllana entre ells. El cor que comença canta una nadala. El que li
      segueix ha de cantar una altra nadala diferent, i així successivament fins
      a 3 o 4 nadales cada cor, creant un ambient festiu i participatiu.
    </p>
  </section>
  <Footer />
</Layout>
