---
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import macael from "@/images/coro/macael.webp";
import villancicoshermandad from "@/images/coro/villancicoshermandad.webp";
---

<Layout
  title="Coro"
  description="El Coro de la Hermandad Rociera Pastora Almonteña de L'Hospitalet, difundiendo la música y el flamenco andaluz en Cataluña."
>
  <section class="flex flex-col gap-8 lg:px-16 px-6">
    <p class="text-center text-4xl font-bold">
      Próximas actuaciones del Coro de la Hermandad
    </p>
    {
      /* <div
      class="flex flex-col md:grid md:grid-cols-2 gap-8 items-center mb-8 pointer-events-none"
    >
      <img
        src={mollet.src}
        alt="Cartel de la 5 Zambomba Vila d'Esplugues"
        class="w-96 rounded-md shadow-lg justify-self-end"
      />
      <div class="flex flex-col gap-4 text-center md:text-start">
        <div>
          <p class="text-center md:text-start font-bold text-red-800">
            Tertulia de Villancicos
          </p>
          <p>📅 13 de Diciembre del 2025</p>
          <p>🕒 Hora por determinar</p>
          <a
            href="https://www.google.com/maps/place/Pla%C3%A7a+de+Prat+de+la+Riba,+08100+Mollet+del+Vall%C3%A8s,+Barcelona/@41.5386833,2.2109325,17z/data=!3m1!4b1!4m6!3m5!1s0x12a4bed822894a3b:0xf83c3d6e76a8a26f!8m2!3d41.5386793!4d2.2135074!16s%2Fg%2F11xj70jm9?entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-row gap-2 place-items-center justify-center md:justify-start"
          >
            <p>📍</p>
            <p
              class="hover:text-red-800 transition ease-in-out hover:underline"
            >
              Plaça de Prat de la Riba, Mollet del Vallès
            </p>
          </a>
        </div>
        <p>Con la participación de:</p>
        <ul class="list-disc list-inside flex flex-col">
          <li>Hermandad Pastora Almonteña de L'Hospitalet de Llobregat</li>
          <li>Centro Cultural Andaluz de Mollet del Vallès</li>
        </ul>
        <a
          href="https://www.instagram.com/p/DQuLuIHDHUO/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-red-800 hover:underline transition ease-in-out"
        >
          Para más información, haz click aquí
        </a>
      </div>
    </div>
    */
    }
    <p class="text-center italic py-10 h-[calc(100vh-32rem)]">
      En estos momentos, no hay actuaciones programadas.
    </p>
    <p>
      El Coro de la Hermandad Pastora Almonteña de L'Hospitalet de Llobregat es
      uno de los mayores exponentes de la cultura rociera de nuestra Hermandad.
    </p>
    <p>
      Está compuesto en su mayoría por hermanos y hermanas de la Hermandad,
      aunque también cuenta con la participación de amigos y simpatizantes que
      comparten la devoción y el amor por la música rociera.
    </p>
  </section>
</Layout>
<Footer />
