---
import Layout from "@/layouts/Layout.astro";
import Contact from "@/components/Contact.astro";
import medalRope from "@/assets/medal_rope.webp";
---

<Layout title="Hermandad Rociera Pastora Almonteña">
  <section class="lg:px-16 px-6 grid grid-rows-[300px_calc(100%-300px)]">
    <div
      class="flex flex-col justify-center items-center px-6 pb-8 md:pb-0 bg-cover bg-center"
    >
      <img
        src={medalRope.src}
        alt="Medalla de la Hermandad Rociera Pastora Almonteña"
        class="w-48 h-48 lg:mb-6"
      />
      <h1
        class="text-lg lg:text-2xl xl:text-4xl text-center font-bold mb-4 drop-shadow-lg"
      >
        Hermandad Rociera Pastora Almonteña de L'Hospitalet de Llobregat
      </h1>
    </div>
    <div class="flex flex-col gap-8">
      <p class="text-left w-full">
        En el año 1985, un grupo de emigrantes andaluces y de otros lares
        españoles que residiendo en tierras catalanas comenzaron conjuntamente
        con otros grupos de personas a establecer un hilo de unión con motivo de
        la añoranza y costumbres de su tierra, teniendo como máxima expresión la
        Romería del Rocío.
      </p>
      <p class="text-left w-full">
        En el año 1986, estas reuniones fueron cogiendo más cuerpo y compromiso
        fundándose así la <strong
          >Hermandad Rociera Andaluza Barcelona Centro</strong
        >.
      </p>
      <p class="text-left w-full">
        Fundadores de la entidad como José Antonio Povedano, Manuel Hernández,
        Gabriel Muela, Manuel Sánchez y Justo Rodríguez iniciaron un camino que
        hoy en día continúa su andadura.
      </p>
      <p class="text-left w-full">
        Los primeros años de celebración de la Romería fueron realizándose en
        distintas poblaciones de Barcelona sin tener una ubicación fija.
      </p>
      <p class="text-left w-full">
        Hasta el año 1989 la Hermandad tuvo su sede en Barcelona y, en el año
        1990, se trasladó a L'Hospitalet de Llobregat, al barrio de Can Serra,
        ese traslado fue motivado porque la mayoría de los hermanos que
        componían la entidad se afincaban en dicha localidad. Tras este
        desplazamiento, la entidad pasó a denominarse <strong
          >Hermandad Rociera Recreativo Cultural Barcelona Centro Pastora
          Almonteña de L'Hospitalet de Llobregat</strong
        >.
      </p>
      <p class="text-left w-full">
        El Hermano Mayor en 1991, Paco Trigueros, donó un nuevo "Simpecao"
        elaborado y bordado en Málaga. La belleza e imagen de este "Simpecao" ha
        sido vigía para los hermanos de la entidad hasta finales del año 2007,
        cuando se bendijo el nuevo y actual "Simpecao", elaborado y bordado en
        Sevilla, este sustituye al anterior por deterioro del paso de los años.
      </p>
      <p class="text-left w-full">
        Durante todos estos años, la Hermandad Rociera Pastora Almonteña ha sido
        partícipe de todo el movimiento rociero en Catalunya, asistiendo a
        Certámenes de Coros Rocieros, Festivales y Zambombas de Villancicos,
        Actos Benéficos, Misas Rocieras, Festa Major de Can Serra, Feria de
        Abril en Catalunya, Romería del Rocío, Semana Santa y otros innumerables
        actos sociales.
      </p>
      <p class="text-left w-full">
        En la actualidad, la Hermandad Rociera Pastora Almonteña de L'Hospitalet
        la componen más de 70 hermanos dedicados al progreso rociero así como a
        la cultura andaluza y catalana en general.
      </p>
    </div>
  </section>
  <Contact />
</Layout>
