---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Junta Directiva">
  <section class="lg:px-16 px-6 grid grid-rows-[auto] gap-4">
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Presidenta</p>
      <p>Elisabet Gómez Díaz</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vicepresidente</p>
      <p>Antonio González Álvarez</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Secretaria</p>
      <p>Silvia Clavijo Prieto</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vicesecretario</p>
      <p>Luis Guerrero Rivero</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Tesorero</p>
      <p>Miguel Ángel Sánchez Bermudo</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vocal de Juventud</p>
      <p>Claudia Prieto Clavijo</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vocal de Culto</p>
      <p>Juan Guerrero Ramos</p>
    </div>
    <div class="w-full flex flex-col justify-center place-items-center gap-1">
      <p class="text-lg text-red-800">Vocales</p>
      <p>Sara Sánchez Bermudo</p>
      <p>Alberto Sánchez López</p>
    </div>
    <div class="flex flex-col gap-8 mt-8">
      <p class="text-left w-full">
        La Junta Directiva de la Hermandad Rociera Pastora Almonteña de
        L'Hospitalet de Llobregat está compuesta por un grupo de personas
        comprometidas con la misión y los valores de la hermandad. Su función
        principal es dirigir y gestionar las actividades y eventos de la
        hermandad, así como representar a sus miembros en diferentes ámbitos.
      </p>
      <p class="text-left w-full">
        La Junta Directiva trabaja en estrecha colaboración con los miembros de
        la hermandad para asegurar que se cumplan los objetivos y se promueva el
        bienestar de todos los integrantes. Además, se encarga de organizar
        eventos religiosos, culturales y sociales que fortalecen los lazos entre
        los miembros y fomentan la participación activa en la comunidad.
      </p>
      <p>
        La Junta Directiva actual gobernará desde el año 2025 hasta el año 2027.
      </p>
    </div>
  </section>
  <Footer />
</Layout>
