---
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import cartel from "@/images/romeriadelrocio/cartel.webp";
import planromero from "@/images/romeriadelrocio/planromero.webp";
---

<Layout title="Romería del Rocío">
  <section class="flex flex-col gap-8 lg:px-16 px-6">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-8 items-center mb-8">
      <img
        src={cartel.src}
        alt="Cartel de la Romería del Rocío 2025"
        class="w-[30rem] rounded-md shadow-lg justify-self-end"
      />
      <div class="flex flex-col gap-4 text-center md:text-start">
        <div>
          <p>📅 5, 6, 7, 8 y 9 de Junio del 2025</p>
          <a
            href="https://www.google.com/maps/dir//41.5852445,2.0279201/@41.585086,2.0286014,406m/data=!3m1!1e3!4m2!4m1!3e0?authuser=0&entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-row gap-2 place-items-center justify-center md:justify-start"
          >
            <p>📍</p>
            <p
              class="hover:text-red-800 transition ease-in-out hover:underline"
            >
              Terrassa
            </p>
          </a>
        </div>
        <p class="text-red-800 text-xl font-bold">Calendario oficial</p>
        <div>
          <p class="text-red-800 font-bold">Jueves 5 de Junio del 2025</p>
          <p>
            <strong class="text-red-800 font-normal"
              >Misa de Traslado de la Imagen de Ntra. Sra. del Rocío</strong
            > desde su Iglesia de Sant Martí de Cerdanyola a las 19.00 horas.
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Sábado 7 de Junio del 2025</p>
          <p>
            <strong class="text-red-800 font-normal"
              >Recepción y Presentación de las Hermandades con su Simpecado</strong
            > Se realizará en la Ermita situada en Terrassa el sábado, día 7 de Junio,
            comenzando a las 18 horas por orden de antigüedad.
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Domingo 8 de Junio del 2025</p>
          <p>
            <strong class="text-red-800 font-normal"
              >Misa Pontifical de Pentecostés</strong
            > Se celebrará el Domingo de Pentecostés, día 8 de Junio, a las 10 horas.
          </p>
          <p class="mt-2">
            <strong class="text-red-800 font-normal"
              >Rosario de la Aurora</strong
            > Se iniciará a las 00 horas de la noche del domingo, 8 de Junio.
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Lunes 9 de Junio del 2025</p>
          <p>
            <strong class="text-red-800 font-normal"
              >Procesión de la Virgen</strong
            >
            Se iniciará a partir de las 1.30 horas de la mañana del lunes, 9 de Junio.
            Realizará su recorrido oficial visitando a su paso a todas las Hermandades.
          </p>
          <p class="mt-2">
            <strong class="text-red-800 font-normal">Misa del Alba</strong>
            Se celebrará a las 9.30 horas del lunes, 9 de Junio.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:grid md:grid-cols-2 gap-8 items-center mb-8">
      <img
        src={planromero.src}
        alt="Plan Romero de la Hermandad Rociera Pastora Almonteña para la Romería del Rocío 2025"
        class="w-[30rem] rounded-md shadow-lg justify-self-end"
      />
      <div class="flex flex-col gap-4 text-center md:text-start">
        <p class="text-red-800 text-xl font-bold">
          Plan romero de la Hermandad para la Romería del Rocío 2025
        </p>
        <div>
          <p class="text-red-800 font-bold">Viernes 6 de Junio del 2025</p>
          <p>
            <strong class="text-red-800 font-normal">12:00h</strong> Misa de Salida
            en nuestra <a
              href="https://www.google.com/maps/dir//Iglesia+de+Santa+Eulalia+de+M%C3%A9rida,+Carrer+de+Barcelona,+104,+08901+L'Hospitalet+de+Llobregat,+Barcelona/@41.3597502,2.0965021,16z/data=!3m1!5s0x12a499224e007945:0xe8322ce29ad43b2d!4m17!1m7!3m6!1s0x12a49922453dfb69:0x27cf334486a86e15!2sIglesia+de+Santa+Eulalia+de+M%C3%A9rida!8m2!3d41.3597462!4d2.099077!16s%2Fg%2F1hb_h5flz!4m8!1m0!1m5!1m1!1s0x12a49922453dfb69:0x27cf334486a86e15!2m2!1d2.099077!2d41.3597462!3e3?entry=ttu&g_ep=EgoyMDI1MTEwNC4xIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Parròquia Santa Eulàlia de Mèrida</a
            >.
          </p>
          <p>
            <strong class="text-red-800 font-normal">13:30h</strong> Salida del Camino
            hasta <a
              href="https://www.google.com/maps/dir//Plaza+de+la+Carpa,+08906+L'Hospitalet+de+Llobregat,+Barcelona/@41.3664723,2.0974297,16z/data=!4m17!1m7!3m6!1s0x12a499b465110c3f:0x698ab488861df456!2sPlaza+de+la+Carpa!8m2!3d41.3664683!4d2.1000046!16s%2Fg%2F11gzpnfcq7!4m8!1m0!1m5!1m1!1s0x12a499b465110c3f:0x698ab488861df456!2m2!1d2.1000046!2d41.3664683!3e3?entry=ttu&g_ep=EgoyMDI1MTEwNC4xIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Can Serra</a
            >
          </p>
          <p>
            <strong class="text-red-800 font-normal">16:00h</strong> Salida en autocar
            a <a
              href="https://www.google.com/maps/dir//Mercavall%C3%A8s,+Carretera+Nacional+150,+Km.14,5,+08227+Sabadell,+Barcelona/@41.5537789,2.0589353,1627m/data=!3m1!1e3!4m17!1m7!3m6!1s0x12a49363460bcdad:0x812189b8d398f59e!2sMercavall%C3%A8s!8m2!3d41.5537749!4d2.0615102!16s%2Fg%2F11xk9zd1p!4m8!1m0!1m5!1m1!1s0x12a49363460bcdad:0x812189b8d398f59e!2m2!1d2.0615102!2d41.5537749!3e0?authuser=0&entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Mercavallès</a
            >
          </p>
          <p>
            <strong class="text-red-800 font-normal">18:00h</strong> Salida del Camino
            hasta <a
              href="https://www.google.com/maps/dir//41.5852445,2.0279201/@41.585086,2.0286014,406m/data=!3m1!1e3!4m2!4m1!3e0?authuser=0&entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >El Rocío</a
            >
          </p>
          <p>
            <strong class="text-red-800 font-normal">22:00h</strong> Preparación
            entrada al <a
              href="https://www.google.com/maps/dir//41.5852445,2.0279201/@41.585086,2.0286014,406m/data=!3m1!1e3!4m2!4m1!3e0?authuser=0&entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:text-red-800 hover:underline transition ease-in-out"
              >Rocío</a
            >
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Sábado 7 de Junio del 2025</p>
          <p>
            <strong class="text-red-800 font-normal">12:00h</strong> Ángelus en nuestra
            Casa de Hermandad
          </p>
          <p>
            <strong class="text-red-800 font-normal">18:00h</strong> Presentación
            ante María Santísima del Rocío
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Domingo 8 de Junio del 2025</p>
          <p>
            <strong class="text-red-800 font-normal">10:00h</strong> Misa Ponitifical
            de Pentecostés
          </p>
        </div>
        <div>
          <p class="text-red-800 font-bold">Lunes 9 de Junio del 2025</p>
          <p>
            <strong class="text-red-800 font-normal">00:00h</strong> Rezo del Rosario
            de la Aurora
          </p>
          <p>
            <strong class="text-red-800 font-normal">01:30h</strong> Procesión de
            la Virgen del Rocío
          </p>
          <p>
            <strong class="text-red-800 font-normal">09:30h</strong> Misa del Alba
          </p>
        </div>
      </div>
    </div>
    <p>
      En el seno de la Federación de Entidades Culturales Andaluzas en Cataluña,
      están inscritas un conjunto de Hermandades que como fin de sus actividades
      tienen básicamente el culto a la Virgen del Rocío.
    </p>
    <p>
      Las Hermandades y Grupos Rocieros con motivo de la celebración del Rocío,
      y con la organización de la FECAC, realizan una Romería con el fin de
      vivir unos días de convivencia unidos en el culto a la Virgen.
    </p>
    <p>
      En el recinto de concentración, se alinean las diferentes casetas de
      Hermandades y Asociaciones Rocieras construidas con elementos
      desmontables, como grandes pabellones, distribuidos interiormente en
      habitáculos para dormitorio, cocina, comedor y capilla donde instalar un
      ‘simpecado’. Durante esos días las Hermandades se convierten en una gran
      familia que como guía tiene a su hermano mayor elegido democráticamente de
      entre sus hermanos.
    </p>
    <p>
      En el recinto se instala alumbrado público ambiental y una acometida
      eléctrica y de agua potable a cada una de las casetas. También se han
      habilitado dos amplias zonas para que se puedan montar tiendas de campaña
      todas las personas que lo deseen también con su toma de corriente.
    </p>
    <p>
      Se construye una capilla que se destina para alojar la imagen de la Virgen
      de Rocío y es donde se celebran todos los actos religiosos. Se celebra el
      Rosario de la Aurora con asistencia, además de los romeros, de numeroso
      público devoto. En la organización de los actos, así como en su protocolo
      se intenta seguir la tradición o en todo caso lo acordado de mutuo acuerdo
      entre las Hermandades. A diferencia de otros actos, en el Rocío se vive un
      clima de Hermandad y sana convivencia entre las Entidades Culturales y las
      personas que la visitan.
    </p>
  </section>
  <Footer />
</Layout>
