---
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import cartel from "@/images/santjordi/cartel.webp";
---

<Layout
  title="Sant Jordi"
  description="Celebración de Sant Jordi con la Hermandad Rociera Pastora Almonteña de L'Hospitalet, uniendo las tradiciones catalanas y andaluzas."
>
  <section class="flex flex-col gap-8 lg:px-16 px-6">
    <div class="flex flex-col md:grid md:grid-cols-2 gap-8 items-center mb-8">
      <img
        src={cartel.src}
        alt="Cartell del Sant Jordi 2025"
        class="w-[30rem] rounded-md shadow-lg justify-self-end"
      />
      <div class="flex flex-col gap-4 text-center md:text-start">
        <div>
          <p>📅 23 de Abril del 2026</p>
          <p>🕒 09:00h hasta fin de existencias</p>
          <a
            href="https://www.google.com/maps/dir//Plaza+de+la+Carpa,+08906+L'Hospitalet+de+Llobregat,+Barcelona/@41.3664723,2.0974297,16z/data=!4m17!1m7!3m6!1s0x12a499b465110c3f:0x698ab488861df456!2sPlaza+de+la+Carpa!8m2!3d41.3664683!4d2.1000046!16s%2Fg%2F11gzpnfcq7!4m8!1m0!1m5!1m1!1s0x12a499b465110c3f:0x698ab488861df456!2m2!1d2.1000046!2d41.3664683!3e3?entry=ttu&g_ep=EgoyMDI1MTEwNC4xIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-row gap-2 place-items-center justify-center md:justify-start"
          >
            <p>📍</p>
            <p
              class="hover:text-red-800 transition ease-in-out hover:underline"
            >
              Plaça de la Carpa
            </p>
          </a>
        </div>
        <p>¡Otro año más tendréis nuestro puesto de rosas en el barrio! 🌹</p>
        <p>
          Desde las 9h hasta fin de existencias, estaremos en la Plaça de la
          Carpa para todo aquel que quiera regalarle una rosa a esa persona
          especial.
        </p>
        <p>
          Además, con la compra de tu rosa participarás en un sorteo para una
          funda de libro de VOLANTA Atelier.
        </p>
      </div>
    </div>
    <p>
      Desde hace unos años, la Hermandad de la Pastora Almonteña de L'Hospitalet
      de Llobregat celebra el día de Sant Jordi con una venta de rosas para
      recaudar fondos destinados a las actividades y proyectos de la Hermandad.
    </p>
  </section>
  <Footer />
</Layout>
