---
import { getRelativeLocaleUrl } from "astro:i18n";
import FooterOnlyLogos from "./FooterOnlyLogos.astro";
import medal from "@/assets/medallas/medal.webp";
const currentLang = Astro.currentLocale || "es";
---

<footer
  class="w-full bg-white px-4 grid grid-cols-2 justify-between items-center h-20 md:h-32 border-black"
>
  <a
    href={getRelativeLocaleUrl(currentLang, `/`)}
    class="flex flex-col gap-[4px] justify-center place-items-center"
  >
    <img src={medal.src} alt="Medal Icon" class="w-12 h-12" />
    <p class="hidden lg:block text-sm text-center">
      Hermandad Rociera Pastora Almonteña de L'Hospitalet de Llobregat
    </p>
  </a>

  <div
    class="flex flex-col sm:flex-row justify-around items-center w-full gap-4 sm:gap-24"
  >
    <div class="sm:block sm:justify-self-end sm:mr-5">
      <ul id="rrss" class="flex-row gap-1 items-center flex">
        <li>
          <a
            href="https://www.facebook.com/hermandadpastoraalmontena/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              data-name="Layer 1"
              class="fill-current hover:scale-105 w-6 h-6"
              id="facebook"
              ><path
                d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/hermandadpastoraalmontena/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              width="30px"
              height="30px"
              viewBox="-2 -2 24 24"
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMinYMin"
              class="fill-current hover:scale-105 w-6 h-6"
              id="instagram"
              ><path
                d="M14.017 0h-8.07A5.954 5.954 0 0 0 0 5.948v8.07a5.954 5.954 0 0 0 5.948 5.947h8.07a5.954 5.954 0 0 0 5.947-5.948v-8.07A5.954 5.954 0 0 0 14.017 0zm3.94 14.017a3.94 3.94 0 0 1-3.94 3.94h-8.07a3.94 3.94 0 0 1-3.939-3.94v-8.07a3.94 3.94 0 0 1 3.94-3.939h8.07a3.94 3.94 0 0 1 3.939 3.94v8.07z"
              ></path><path
                d="M9.982 4.819A5.17 5.17 0 0 0 4.82 9.982a5.17 5.17 0 0 0 5.163 5.164 5.17 5.17 0 0 0 5.164-5.164A5.17 5.17 0 0 0 9.982 4.82zm0 8.319a3.155 3.155 0 1 1 0-6.31 3.155 3.155 0 0 1 0 6.31z"
              ></path><circle cx="15.156" cy="4.858" r="1.237"></circle></svg
            >
          </a>
        </li>
        <li>
          <a
            href="https://x.com/pastoralmontena/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="x"
              width="26px"
              height="26px"
              viewBox="0 0 24 24"
              style="enable-background:new 0 0 24 24;"
              class="fill-current hover:scale-105 w-6 h-6"
              xml:space="preserve"
              ><path
                d="M14.095479,10.316482L22.286354,1h-1.940718l-7.115352,8.087682L7.551414,1H1l8.589488,12.231093L1,23h1.940717  l7.509372-8.542861L16.448587,23H23L14.095479,10.316482z M11.436522,13.338465l-0.871624-1.218704l-6.924311-9.68815h2.981339  l5.58978,7.82155l0.867949,1.218704l7.26506,10.166271h-2.981339L11.436522,13.338465z"
              ></path></svg
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<FooterOnlyLogos />
