---
import { getRelativeLocaleUrl } from "astro:i18n";
import cat from "@/assets/banderas/cat.webp";
import es from "@/assets/banderas/es.webp";
const page = Astro.url.pathname;
const pageId = page[4] === undefined ? "" : page[4];
const currentLang = Astro.currentLocale || "es";
---

<nav
  class="grid grid-cols-2 md:grid-cols-3 justify-center place-items-center gap-4 p-4 md:px-8"
>
  <p class="hidden md:block"></p>
  <a
    href={getRelativeLocaleUrl(currentLang, `/`)}
    class={page.includes("/") || page.includes("/es/")
      ? "text-red-700 border-b-[1px] border-red-700 font-bold"
      : "hover:text-red-700 hover:scale-105 transition"}
    >{currentLang === "cat" ? "Sobre nosaltres" : "Sobre nosotros"}</a
  >
  <a
    href={currentLang === "cat"
      ? getRelativeLocaleUrl("es", `/${pageId}`)
      : getRelativeLocaleUrl("cat", `/${pageId}`)}
    class="place-self-end hover:scale-105 transition ease-in-out"
  >
    <img
      src={currentLang === "cat" ? es.src : cat.src}
      alt={currentLang === "cat" ? "Bandera de Catalunya" : "Bandera de España"}
      title={currentLang === "cat" ? "Canviar a castellà" : "Cambiar a catalán"}
      class="w-10 mx-auto"
    />
  </a>
</nav>
