---
const page = Astro.url.pathname;
console.log(page);
---

<nav class="flex flex-row justify-center gap-4 py-8">
  <a
    href="/"
    class={page === "/"
      ? "text-red-700 border-b-[1px] border-red-700 font-bold"
      : "hover:text-red-700 hover:scale-105 transition"}>Sobre nosotros</a
  >
</nav>
