---
import { getRelativeLocaleUrl } from "astro:i18n";
import cat from "@/assets/banderas/cat.webp";
import es from "@/assets/banderas/es.webp";
import plus from "@/assets/svg/plus.svg";
import minus from "@/assets/svg/minus.svg";
import language from "@/assets/svg/language.svg";
const currentLang = Astro.currentLocale || "es";
const page = Astro.url.pathname;
const pagedivided = page.split("/");
const pageId =
  currentLang === "cat"
    ? pagedivided[2] === null
      ? ""
      : pagedivided[2]
    : pagedivided[1];
---

<nav
  class="grid grid-cols-[1fr_5fr_1fr] w-full items-center gap-4 p-4 md:px-8 bg-red-800 mb-8"
>
  <span class="text-md text-white font-black justify-self-center">
    {
      (() => {
        switch (pageId) {
          case "":
            return currentLang === "cat"
              ? "Sobre nosaltres"
              : "Sobre nosotros";
          case "romeriadelrocio":
            return currentLang === "cat"
              ? "Romería del Rocío"
              : "Romería del Rocío";
          case "pregonrociero":
            return currentLang === "cat" ? "Pregó Rociero" : "Pregón Rociero";
          case "cambiodevara":
            return currentLang === "cat" ? "Canvi de Vara" : "Cambio de Vara";
          case "villancicos":
            return currentLang === "cat"
              ? "Festival i Zambomba de nadales"
              : "Festival y Zambomba de villancicos";
          case "santjordi":
            return currentLang === "cat" ? "Sant Jordi" : "Sant Jordi";
          case "festamajor":
            return currentLang === "cat"
              ? "Festa Major Can Serra"
              : "Fiesta Mayor Can Serra";
          case "coro":
            return currentLang === "cat" ? "Cor" : "Coro";
          case "juntadirectiva":
            return currentLang === "cat"
              ? "Junta Directiva"
              : "Junta Directiva";
          default:
            return currentLang === "cat"
              ? "Sobre nosaltres"
              : "Sobre nosotros";
        }
      })()
    }
  </span>

  <div
    class="p-4 justify-center place-items-center text-center gap-8 flex text-white w-full align-middle"
  >
    <a
      href={getRelativeLocaleUrl(currentLang, `/`)}
      class={pageId === ""
        ? "text-white border-white font-bold"
        : "opacity-50 hover:scale-105 transition hover:opacity-100 focus:scale-90 duration-150"}
      >{currentLang === "cat" ? "Sobre nosaltres" : "Sobre nosotros"}</a
    >
    <a
      href={getRelativeLocaleUrl(currentLang, `/romeriadelrocio`)}
      class={pageId === "romeriadelrocio"
        ? "text-white border-white font-bold"
        : "opacity-50 hover:scale-105 transition hover:opacity-100 focus:scale-90 duration-150"}
      >{currentLang === "cat" ? "Romería del Rocío" : "Romería del Rocío"}</a
    >
    <a
      href={getRelativeLocaleUrl(currentLang, `/pregonrociero`)}
      class={pageId === "pregonrociero"
        ? "text-white border-white font-bold"
        : "opacity-50 hover:scale-105 transition hover:opacity-100 focus:scale-90 duration-150"}
      >{currentLang === "cat" ? "Pregó Rociero" : "Pregón Rociero"}</a
    >
    <a
      href={getRelativeLocaleUrl(currentLang, `/cambiodevara`)}
      class={pageId === "cambiodevara"
        ? "text-white border-white font-bold"
        : "opacity-50 hover:scale-105 transition hover:opacity-100 focus:scale-90 duration-150"}
      >{currentLang === "cat" ? "Canvi de Vara" : "Cambio de Vara"}</a
    >


    <div class="relative">
      <button id="button-menu" class="flex opacity-50 hover:opacity-100 hover:scale-105 focus:scale-90 focus:opacity-100">
        <img id="menu-img" src={plus.src} class="w-6" />
      </button>
      <dialog id="dialog-sections" class="absolute z-10 hidden flex-col ml-auto items-center gap-4 py-4 px-5 bg-white text-red-800 -translate-x-[12.5rem] shadow-2xl w-96 box-content afterDialog top-8 rounded-xl">
        <a
          href={getRelativeLocaleUrl(currentLang, `/villancicos`)}
          class={pageId === "villancicos"
            ? "text-red-800 border-white font-bold"
            : "hover:font-bold hover:opacity-100 opacity-80 hover:scale-105 transition focus:scale-90 duration-150"}
          >{
            currentLang === "cat"
              ? "Festival i Zambomba de nadales"
              : "Festival y Zambomba de villancicos"
          }
        </a>
        <a
          href={getRelativeLocaleUrl(currentLang, `/santjordi`)}
          class={pageId === "santjordi"
            ? "text-red-800 border-white font-bold"
            : "hover:font-bold hover:opacity-100 opacity-80 hover:scale-105 transition focus:scale-90 duration-150"}
          >{currentLang === "cat" ? "Sant Jordi" : "Sant Jordi"}</a
        >
        <a
          href={getRelativeLocaleUrl(currentLang, `/festamajor`)}
          class={pageId === "festamajor"
            ? "text-red-800 border-white font-bold"
            : "hover:font-bold hover:opacity-100 opacity-80 hover:scale-105 transition focus:scale-90 duration-150"}
          >{
            currentLang === "cat"
              ? "Festa Major Can Serra"
              : "Fiesta Mayor Can Serra"
          }</a
        >
        <a
          href={getRelativeLocaleUrl(currentLang, `/coro`)}
          class={pageId === "coro"
            ? "text-red-800 border-white font-bold"
            : "hover:font-bold hover:opacity-100 opacity-80 hover:scale-105 transition focus:scale-90 duration-150"}
          >{currentLang === "cat" ? "Cor" : "Coro"}</a
        >
        <a
          href={getRelativeLocaleUrl(currentLang, `/juntadirectiva`)}
          class={pageId === "juntadirectiva"
            ? "text-red-800 border-white font-bold"
            : "hover:font-bold hover:opacity-100 opacity-80 hover:scale-105 transition focus:scale-90 duration-150"}
          >{currentLang === "cat" ? "Junta Directiva" : "Junta Directiva"}</a
        >
      </dialog>
    </div>
    
  </div>
  <div class="flex flex-row gap-4 justify-self-end relative">
    <button id="language-button" class="flex flex-row gap-1 opacity-50 hover:opacity-100 hover:scale-105 focus:scale-90 focus:opacity-100 transition duration-150">
      <img src={language.src} />
      <span class="text-white">{currentLang === "cat"
            ? "Català"
            : "Castellano"}</span>
    </button>
    <dialog id="dialog-language" class="absolute hidden z-10 flex-col ml-auto gap-4 py-4 px-5 bg-white text-red-800 shadow-2xl box-content afterDialogLanguage top-8 rounded-xl w-52 -translate-x-32">
      <a
        href={getRelativeLocaleUrl("es", `/${pageId ? pageId : ""}`)}
        class="flex flex-row gap-2 justify-center hover:scale-105 transition ease-in-out w-full"
      >
        <img
          src={es.src}
          alt={currentLang === "cat"
            ? "Bandera d'Espanya"
            : "Bandera de España"}
          title={currentLang === "cat"
            ? "Canviar a castellà"
            : "Cambiar a castellano"}
          class="w-10"
        />
        <span>Castellano</span>
      </a>
      <a
        href={getRelativeLocaleUrl("cat", `/${pageId ? pageId : ""}`)}
        class="flex flex-row gap-2 justify-center hover:scale-105 transition ease-in-out w-full"
      >
        <img
          src={cat.src}
          alt={currentLang === "cat"
            ? "Bandera de Catalunya"
            : "Bandera de Cataluña"}
          title={currentLang === "cat"
            ? "Canviar a català"
            : "Cambiar a catalán"}
          class="w-10"
        />
        <span>Català</span>
      </a>
    </dialog>
  </div>
  <script define:vars={{ plusSrc: plus.src, minusSrc: minus.src }}>
    const buttonMenu = document.getElementById("button-menu");
    const menuImg = document.getElementById("menu-img");
    const dialogSections = document.getElementById("dialog-sections");
    const buttonLanguage = document.getElementById("language-button");
    const dialogLanguage = document.getElementById("dialog-language");

    buttonMenu?.addEventListener("click", () => {
      if (dialogSections?.classList.contains("hidden")) {
        dialogSections.classList.remove("hidden");
        dialogSections.classList.add("flex");
        menuImg.src = minusSrc;
      } else if (dialogSections?.classList.contains("flex")) {
        dialogSections.classList.remove("flex");
        dialogSections.classList.add("hidden");
        menuImg.src = plusSrc;
      }
    })

    buttonLanguage?.addEventListener("click", () => {
      if (dialogLanguage?.classList.contains("hidden")) {
        dialogLanguage.classList.remove("hidden");
        dialogLanguage.classList.add("flex");
      } else if (dialogLanguage?.classList.contains("flex")) {
        dialogLanguage.classList.remove("flex");
        dialogLanguage.classList.add("hidden");
      }
    })
  </script>
</nav>
